
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="panel">
    <header class="panel-heading">
        Bilge Hotel
    </header>
    <div class="panel-body">
        <h4>Bu otel hakkında</h4>
        <p>

            Ayasofya'ya ve Topkapı Sarayı'na 4 km uzaklıktaki bu 1892'den kalma zarif otel, Sultanahmet Camii'ne 6 km uzaklıktadır.
            <br />
            Yüksek tavanlara ve şehir manzarasına sahip şık odalarda ücretsiz kablosuz internet, düz ekran televizyon, mini bar, çay-kahve yapma imkanı ve mermer kaplı banyo bulunur. Üst sınıf odalarda iPod yerleştirme istasyonları vardır. Bazı odalar Haliç manzaralıdır. Lüks süitlerde ayrı salon da yer alır.

            Kahvaltı ek ücrete tabidir. Pastane ve lüks restoranın yanı sıra teras barı, çay salonu ve kaliteli oturma grubu bulunan şık bir kokteyl mekanı vardır. İmkanlar arasında spor salonu, kapalı yüzme havuzu ve bakımlı bir spa bulunur.
            <br />


            Giriş saati: 15:00
            <br />
            Çıkış saati: 12:00
        </p>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="~/Pictures/655A4192.jpg" style="height:200px;width:300px" class="img-hotel" />
                    </div>

                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="~/Pictures/unnamed (4).jpg" style="height:200px;width:300px" class="img-hotel2" />
                    </div>
                </section>
            </div>

            <div class="col-md-4">

                <section class="panel">
                    <div class="pro-img-box">
                        <img src="~/Pictures/20220607_180211.jpg" style="height:200px;width:300px" class="img-hotel2" />
                    </div>
                </section>
            </div>
        </div>


        <div class="panel-body">
            <h4>İletişim</h4>
            <p>
                Adres ve iletişim bilgileri
                <br />
                Evliya Çelebi, Meşrutiyet Caddesi, Tepebaşı Cd. No:52, 34430 Beyoğlu/İstanbul
                <br />
                (0212) 377 40 00

            </p>

        </div>
</section>

