
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/OuterTools/css/style-manuel.css" rel="stylesheet" />
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
               
                <div class="col-md-12">

                    <div class="col-md-4">
                        <section class="panel">
                            <div class="pro-img-box">
                               
                                    <center>  <img src="~/Pictures/2022-05-30.jpg " class="img-hotel" /></center>

                               
                            </div>
                        </section>

                    </div>
                    <div class="col-md-4">
                        <section class="panel">
                            <div class="pro-img-box">
                                <center>
                                    <img src="~/Pictures/unnamed (3).jpg" class="img-hotel1" />
                                </center>

                            </div>
                            </section>

                    </div>
                    <div class="col-md-4">
                        <section class="panel">
                            <div class="pro-img-box">
                                <center>
                                    <img src="~/Pictures/IMG_20201105_185120.jpg" class="img-hotel2" />
                                </center>
                             </div>
                         </section>
                     </div>
                    <br />

                            


                 </div>
                    <!-- page end-->
                    <!--main content end-->

             </div>
</section>

