
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row product-list">
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="~/Pictures/tek kişilik.jpg" />

            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Tek Kişilik Oda
                    </a>
                </h4>
               
            </div>

        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="~/Pictures/iki kişilik.jpg" />

            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        İki Kişilik Oda
                    </a>
                </h4>

            </div>

        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">

                <img src="~/Pictures/3 kişilik oda.jpg" />

            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Üç Kişilik Oda
                    </a>
                </h4>

            </div>
        </section>
    </div>
    <div class="col-md-4"style="margin-left:-440px">
        <section class="panel">
            <div class="pro-img-box">

                <img src="~/Pictures/4 kişilik.jpg" />

            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Dört Kişilik Oda
                    </a>
                </h4>

            </div>

        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="~/Pictures/Kral dairesi.jpg" />

            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                       Kral Dairesi
                    </a>
                </h4>

            </div>

        </section>
    </div>
    <div class="col-md-4"style="margin-left:880px;margin-top:-380px">
        <section class="panel">
            <div class="pro-img-box">
                <img src="~/Pictures/107d462c-d3c6-4b7b-a603-f05fedb5c4f3.jpg" style="width:400px;height:270px"/>

            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Banyolar
                    </a>
                </h4>

            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="~/Pictures/unnamed (1).jpg" />


            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Banyolar
                    </a>
                </h4>

            </div>

        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="~/Pictures/2022-05-11.jpg"style="width:410px;height:260px" />


            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Restorant
                    </a>
                </h4>

            </div>

        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="~/Pictures/unnamed.jpg"style="width:410px;height:260px" />


            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                       Hotel Giriş
                    </a>
                </h4>

            </div>

        </section>
    </div>
</div>
