
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="col-lg-9">
        <div class="row product-list">
           


                <div class="col-md-9">
                    <section class="panel">
                        <div class="pro-img-box">

                            <p>
                                Bu otel hakkında
                                Ayasofya'ya ve Topkapı Sarayı'na 4 km uzaklıktaki bu 1892'den kalma zarif otel, Sultanahmet Camii'ne 6 km uzaklıktadır.
                                Yüksek tavanlara ve şehir manzarasına sahip şık odalarda ücretsiz kablosuz internet, düz ekran televizyon, mini bar, çay-kahve yapma imkanı ve mermer kaplı banyo bulunur. Üst sınıf odalarda iPod yerleştirme istasyonları vardır. Bazı odalar Haliç manzaralıdır. Lüks süitlerde ayrı salon da yer alır.

                                Kahvaltı ek ücrete tabidir. Pastane ve lüks restoranın yanı sıra teras barı, çay salonu ve kaliteli oturma grubu bulunan şık bir kokteyl mekanı vardır. İmkanlar arasında spor salonu, kapalı yüzme havuzu ve bakımlı bir spa bulunur.
                            </p>

                        </div>

                     
                    </section>
                </div>
            
        </div>
    </div>



