
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-9">
        <div class="row product-list">


            <div class="col-md-11">
                <section class="panel">
                    <div class="pro-img-box">

                        <p>
                            Evliya Çelebi, Meşrutiyet Caddesi, Tepebaşı Cd. No:52, 34430 Beyoğlu/İstanbul
                            <br />
                            (0212) 377 40 00
                        </p>

                    </div>


                </section>
            </div>

        </div>
    </div>
</div>