
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-9">
        <div class="row product-list">


            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/107d462c-d3c6-4b7b-a603-f05fedb5c4f3.jpg" />

                    </div>

                </section>
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/2018-12-07.jpg" />

                    </div>

                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/2022-05-11.jpg" />

                    </div>

                </section>
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/2022-05-30.jpg" />

                    </div>

                </section>

            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/20220607_180211.jpg" />

                    </div>

                </section>
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/IMG_20201105_185120.jpg" />

                    </div>

                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/unnamed (1).jpg" />

                    </div>

                </section>
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/unnamed (2).jpg" />

                    </div>

                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/unnamed (3).jpg" />

                    </div>

                </section>
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/overview/unnamed (4).jpg" />

                    </div>

                </section>
            </div>

        </div>
    </div>
</div>