
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-9">
        <div class="row product-list">


            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/room/3 kişilik oda.jpg" />

                    </div>

                </section>
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="~/Content/img/room/4 kişilik.jpg" />
                        

                    </div>

                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/room/iki kişilik.jpg" />

                    </div>

                </section>
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/room/tek kişilik.jpg" />

                    </div>

                </section>

            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">

                        <img src="~/Content/img/room/Kral dairesi.jpg" />

                    </div>
                    </section>
            </div>
        </div>
            
    </div>
</div>