
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterOk</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <div> 
        Tebrikler Kayıt işleminiz Tamamlanmıştır.
    </div>
</body>
</html>
<script>
    $(function () {
        setTimeout(function () {
            window.location = "/Register/RegisterNow";
        },5000)
    })
</script>
